data_dir  = "/var/lib/nomad/client"

bind_addr = "{{ ansible_enp0s8.ipv4.address }}" # the default

advertise {
  # Defaults to the first private IP address.
  http = "{{ ansible_enp0s8.ipv4.address }}"
  rpc  = "{{ ansible_enp0s8.ipv4.address }}"
  serf = "{{ ansible_enp0s8.ipv4.address }}" # non-default ports may be specified
}

# Enable the client
client {
    enabled = true
    network_interface = "enp0s8"

    # For demo assume we are talking to server1. For production,
    # this should be like "nomad.service.consul:4647" and a system
    # like Consul used for service discovery.
    # servers = ["nomad-server.service.consul:4647"]
}

# Modify our port to avoid a collision with server1
ports {
    http = 5656
}

consul {
  address = "127.0.0.1:8500"
  server_service_name = "nomad-server"
  auto_advertise = true
  client_auto_join = true
}
