data_dir  = "/var/lib/nomad/server"

bind_addr = "{{ ansible_enp0s8.ipv4.address }}" # the default

advertise {
  # Defaults to the first private IP address.
  http = "{{ ansible_enp0s8.ipv4.address }}"
  rpc  = "{{ ansible_enp0s8.ipv4.address }}"
  serf = "{{ ansible_enp0s8.ipv4.address }}" # non-default ports may be specified
}

server {
  enabled          = true
  bootstrap_expect = 2
}

consul {
  address = "{{ ansible_enp0s8.ipv4.address }}:8500"
  server_service_name = "nomad-server"
  auto_advertise = true
  server_auto_join = true
}
