[Unit]
Description=Nomad Server
Documentation=https://nomadproject.io/docs/

[Service]
KillMode=process
KillSignal=SIGINT
ExecStart=/usr/local/bin/nomad agent -config /opt/nomad/config/nomad_server_config.json
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
