[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -ui $CONSUL_FLAGS -config-dir=/opt/consul/config -data-dir=/opt/consul
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
